<div class="container">
  <h1 class="text-center">Mi E-commerce</h1>
  {{#if form}}
    <section style="padding: 50px 0px;">
      <h1>Subir Producto</h1>
      <form action="/api/productos" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label class="form-label" for="title">Nombre</label>
          <input class="form-control" type="text" name="title" value="" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Precio</label>
          <input class="form-control" type="number" name="price" value="" />
        </div>
        <button type="submit" class="mb-5 btn btn-primary">Guardar</button>
      </form>
      <a href="/productos" class="btn btn-info">Ver todos los productos</a>
    </section>
  {{/if}}

  {{#if hayProductos}}
    <section>
      <h4>Nuestros Productos</h4>
      {{#each products}}
        <div class="products card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h6 class="card-subtitle">{{this.price}}</h6>
          </div>
        </div>
      {{/each}}
      <a class="btn btn-info" href="/">Volver al Form</a>
    </section>
    <section>
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
        {{#each products}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.img}}</td>
          </tr>
        {{/each}}
      </table>
    </section>
  {{/if}}
</div>
